    /* comments show the line of these style in _terrase.css file */
    @media only screen and (max-width: 1023px) {
    
        /* 895 */
        .dhx_cal_light.dhx_cal_light_responsive .dhx_cal_lsection {
        font-size: 3vw !important;
        width: 23.438vw !important;
        margin-left: 3vw;
        line-height: 3vw !important;
        margin-right: 0;
        }
        
        /* 912 */
        .dhx_cal_light.dhx_cal_light_responsive .dhx_cal_ltitle span {
        font-size: 3vw !important;
        }
        
        /* 920 */
        .dhx_cal_light.dhx_cal_light_responsive textarea,
        .dhx_cal_light.dhx_cal_light_responsive select,
        .dhx_cal_light.dhx_cal_light_responsive .dhx_wrap_section .dhx_section_time select,
        .dhx_cal_light.dhx_cal_light_responsive .dhx_cal_lsection div.dhx_custom_button,
        .dhx_cal_light.dhx_cal_light_responsive .dhx_cal_template,
        .dhx_cal_light.dhx_cal_light_responsive .dhx_cal_radio {
        font-size: 2.5vw;
        line-height: 2.5vw;
        }
        
        /* 980 */
        .dhx_cal_light.dhx_cal_light_responsive input {
        width: 5.859vw;
        height: 5.859vw;
        margin-top: 1.1vw  !important;
        }
        /* 876 */
        .dhx_cal_light.dhx_cal_light_responsive .dhx_btn_set {
        margin-bottom: 1.953vw !important;
        font-size: 3vw;
        height: auto !important;
        padding: 1.953vw 1.563vw 1.953vw 1.563vw;
        }
        }